/* .card{
    max-width: 28rem;
} */
img{
    width: 100px;
}
td{
    text-align: center;
}
fieldset{
    height: 500px;
    font-size: large;
    overflow: auto;
}
.active{
    font-size: larger;
    font-weight: bolder;
}

nav{
    position: fixed;
}
table{
    text-align: center;
    vertical-align: auto
}

