/* .card{
    max-width: 28rem;
} */
img{
    width: 100px;
}

p:nth-of-type(1){
    height: 200px;
    overflow: scroll;
}
fieldset{
    height: 500px;
    font-size: large;
    overflow: auto;
}
.active{
    font-size: larger;
    font-weight: bolder;
}
.art_admin{
    height: auto;
}
nav{
    position: fixed;
}
