
img{
    width: 100px;
}

td{
    text-align: center;
}

.active{
    font-size: larger;
    font-weight: bolder;
}

nav{
    position: fixed;
}
table{
    text-align: center;
}
body{
    background: url(/src/retro6bg.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.red:hover{
    box-shadow: 20px 15px 15px darkred;
    opacity: 1;
}
.red{
    opacity:0.9;
}
article,section{
    background-color: white ;
    opacity: 0.9;
}
.imglist:hover{
    width: 150px;
}
